*,
*:after,
*:before {
    box-sizing: border-box;
}
* {
    padding: 0px;
    margin: 0px;
}
html,body {
    width: 100%;
    font-family: sans-serif;
    background-color: #e9ebee;
    font-size: 12px;
}
footer {
    margin-top: 16px;
}

#main,
#menu,
#right-sidebar {
    /*height: 600px;*/
}
#main {
    /*height: 85vh;*/
}
#sidebar {
    background: #ffffff;
}
#header {
    background-color: #29487d;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 0;
}

.white-text {
  color: white !important;
}
#header ul .glyphicon,.caret {
    font-size: 20px;
    color: white;
}
.list-heading {
    padding: 20px 15px 0 15px;
}
.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 18px;
}
.image-post {
    margin-bottom: 15px;
}
#main {
    overflow: auto;
}
#main::-webkit-scrollbar {
    display: none;
}
#menu .nav>li a:hover {
    background: white;
}
.icon-margin {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid silver;
}
.post-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #4f4f4f;
}
#main .post-image a {
    color: blue!important;
}
.icon-margin a, #menu a {
    color: #4f4f4f;
}
.panel-body > p {
    font-size: 15px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: #29487d;
    color: white;
}
.comment {
    margin: 0;
}
.comment-image {
    height: 32px;
    width: 32px;
}
.add-comment {
    width: 100%;
    margin-top: 15px;
    padding: 5px;
}
.nested-comment-1 {
    margin-left: 10%;
}
.nested-comment-2 {
    margin-left: 20%;
}
.name-color {
    color: #365899!important;
    font-weight:bold;
}
#search-icon {
    margin-left: -10px;
    border:0;
    height: 25px;
    background: #f4f4f4;
}

/****  Style the Sidebar *******/
.sidebar-icon {
    max-height: 20px;
    max-width: 20px;
    margin-right: 5px;
}
#menu p {
    font-weight: bold;
    color: #4f4f4f;
}
#menu ul {
    position: relative;
}
#menu .badge {
    position: absolute;
    left: 110px;
}
#menu #nav-pills-stacked {
    margin-right: 20px;
}
#menu #nav-pills-stacked li,#menu #nav-pills-stacked li a {
    height: 30px;
    padding: 5px;
}
#menu #nav-pills-stacked li a:hover {
    margin-right: 20px;
    background-color: #f4f4ff;
}

/**** Style the right sidebar *****/
@media only screen and (max-width: 1150px){
    #right-sidebar {
        display: none;
    }
}
#right-sidebar {
    position: fixed;
    top: 56px;
    right: 0px;
    height: 600vh;
    max-width: 300px;
    border-left: 1px solid silver;
}

/*********  Style the top Trands **************/
#rightsideicon {
/*    position: absolute; */

}
#tranding {
    position: relative;
}
#tranding > span {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 5px;
    color: #90949c;
    font-size: 13px;
    font-weight: bold;
}
#tranding > span {
    margin-top: 8px;
    margin-bottom: 2px;
}
#tranding > #rightsideicon > ul li,
#tranding > #rightsideicon ul li i {
    width: 30px;
    margin-right: 3px;
}
#rightsideicon > .nav > li > a,
#rightsideicon .nav.nav-tabs {
    border: 1px solid transparent;
}
#sidebar,
#tranding,
#rightsideicon,
#rightsideicon .nav.nav-tabs{
    border-radius: 3px;
}
#rightsideicon > .nav > li > a:hover,
#rightsideicon > .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.tab-cotent {
    position: absolute;
    top: 50px;
    left: 5px;
}
#tab-content-id {
    margin-top: 15px;
    padding-bottom: 5px;
}

/*see more options*/
#tab-content-id ul li.see-more > span {
    padding-left: 5px;
}
#tab-content-id ul li.see-more > span > span,
#see-more-games > span > span {
    color: skyblue;
}
#see-more-games{
    list-style: none;
}
#see-more-games > span a{
   margin-left: 10px;
}
.tab-content > .tab-pane > ul,
.tab-content > .tab-pane > ul > li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.tab-content > .tab-pane > ul > li a {
    margin-left: 10px;
    color: #365899;
    font-weight: bold;
}
.tab-content > .tab-pane > ul > li p {
    margin-left: 24px;
}
.tab-content > .tab-pane > ul > li .glyphicon {
    color: skyblue;
}
.disappear  {
    display: none;
}

#alert-info {
    background: #ffffff;
    color: #90949c;
    font-size: 12px;
    border: 0;
    border-radius: 2px;
    margin-bottom: 10px;
}
#alert-info a {
    text-decoration: none;
}
#alert-info {
    padding: 5px;
}
#alert-info > li {
    padding: 3px;
}
#alert-info > li:hover {
    background: #f4f4f4;
    padding: 3px;
    border-radius: 2px;
}

/* After top trands ****/
.game-image {
    width: 50%;
    border-radius: 2px;
}
.segestedPost {
    background: white;
    margin-top: 10px;
    padding-bottom: 10px;
}

/**** segested post slider ****/
#tranding #mySlider div > div{
    height: 100%;
}
#tranding #mySlider .item img {
    width: 100%;
    height: 400px;
}
#fixed-sidebar {
    top: 58px;
}

@media only screen and (min-width: 1200px ) {
    #fixed-sidebar {
        width: 262.5px;
    }
    #fixed-sidebar.affix {
        width: 262.5px!important;
    }
}
@media only screen and (max-width: 1199px ) {
    #fixed-sidebar {
        width: 212.5px;
    }
    #fixed-sidebar.affix {
        width: 212.5px!important;
    }
}
/*Style the friend list part*/

@media only screen and (max-width: 991px ) {
    #right-sidebar {
        display: none;
    }
}

#top-right,#bottom-right {
    margin: 0;
    padding: 0;
    height: 100px;
    width: 250px;
    margin-bottom: 5px;
}

#top-right {
    display: flex;
    border-bottom: 1px solid silver;
}
#top-right div {
    height: 50px;
    width: 80px;
    padding-left: 10px;
    margin-left: 8px;
}
#right-sidebar #top-right img {
    height: 80px;
    margin-top: 10px;
    margin-bottom: auto;
    border-radius: 10px;
}
#right-sidebar li {
    position: relative;
}
#right-sidebar .green {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(0,200,0);
    position: absolute;
    right: 10px;
    top: 15px;
}
#middle-right {
    height: 78vh;
    margin-bottom: 40px;
    overflow: auto;
}
#middle-right::-webkit-scrollbar {
    display: none;
}
#middle-right .nav li a{
    font-size: 14px;
    color: #4f4f4f;
}
#bottom-right {
    position: fixed;
    bottom: 0;
    height: 30px;
}
#bottom-right input {
    width: 100%;
    padding: 7px;
    border: 0;
    font-size: 15px;
}
.friend-image {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border: 1px solid silver;
}
#middle-right .nav-pills li a {
    padding: 3px;
    padding-left: 10px;
}
#suggested-page-button {
    padding: 2px;
    margin-left: 10px;
    border-radius: 0;
}

/*to implement slow motion fadein of dropdown-menu */
ul.dropdown-menu#slow-motion-dropdown {list-style-type: none; }

ul.dropdown-menu#slow-motion-dropdown li {display:none;}
